.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  animation: fadeIn 1s ease-in-out; /* Apply animation */
}

.about-section {
  text-align: center;
  max-width: 600px;
}

.about-title {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.about-text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

/* animations */
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
